html(lang="ru")
  head
    meta(charset="utf-8")
    link(href='css/style.min.css')
    title= "Учимся работать с шаблонизатором Pug"
  body
      h1 Hello, World!
      h2 Привет!
      link(href='js/app.min.css')