@import 'fonts';
body {
  font-family: 'Pragmaticashadowc italic';
  background-color: maroon;

  span {
    color: whitesmoke;
  }
}
@media (max-width: 768px) {
  span {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    background: red;
  }
}
